In [1]:
## set-up - importing and loading

# imports
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import warnings
import sys
import os
import io

# get rid of pesky warnings
warnings.filterwarnings('ignore')

# fixed paths
print("hello")